[Desktop Entry]
Name=Fastplayer New Instance
Comment=Fastplayer New Instance
TryExec=fastplayer
Exec=fastplayer --new %U
Icon=fastplayer
Terminal=false
Type=Application
Categories=Video;AudioVideo;
MimeType=inode/directory;video/webm;video/x-matroska;video/x-flv;video/mpeg;video/ogg;image/gif;video/x-msvideo;video/quicktime;video/x-ms-wmv;application/vnd.rn-realmedia;application/vnd.rn-realmedia-vbr;video/x-ms-asf;video/amv;video/mp4;video/x-m4v;video/3gpp;video/mp2t;
